/* ===== BASIC RESET ===== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ===== BODY ===== */
body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}

body.homepage {
    overflow-x: hidden;
}

/* ===== SECTIONS SPACING ===== */
section {
    padding: 60px 120px;
}

/* ===== SMALL HEADER ===== */
.small-header-container {
    background-color: black;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 30px;
    padding: 0 150px;
}

.right ul li p {
    font-family: "poppins-regular" sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

.right ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.left p {
    font-family: "poppins-regular" sans-serif;
    font-size: 12px;
    margin: 0;
    padding: 0;
}

/* ===== HEADER ===== */
.header {
    position: absolute;
    /* 👈 image ke upar */
    top: 30px;
    left: 0;
    width: 100%;
    padding: 0 60px;
    background: transparent;
    color: white;
    z-index: 999;
    transition: all 0.3s ease;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 150px 10px;
}

/* sticky header */
.header.sticky {
    position: sticky;
    /* 👈 chipak jata hai */
    top: 0;
    background: white;
    color: black;
}

.header.sticky a {
    color: black;
}

/* Logo */
.logo a {
    text-decoration: none;
    font-size: 32px;
    font-weight: bold;
    color: #000;
}

.logo span {
    color: #717fe0;
    /* CozaStore style color */
}

/* Nav links */
.navbar {
    padding: 0;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 30px;
    margin: 0;
    padding: 0;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-size: 17px;
    text-transform: uppercase;
    padding: 0;
}

.nav-links a:hover,
.nav-links a.active {
    color: #717fe0;
}

/* icons and humberger */
.nav-icons-humberger {
    display: flex;
    align-items: center;
    gap: 6px;
}

.nav-icons-humberger i {
    font-size: 24px;
    margin-left: 15px;
    cursor: pointer;
    color: #333;
}

.nav-icons-humberger i:hover {
    color: #717fe0;
}

.humberger {
    display: none;
    padding-left: 16px;
}

.humberger button {
    background: none;
    border: none;
    padding: 0;
}

.humberger img {
    width: 28px;
    height: 28px;
}

/* offcanvas */
.offcanvas-top {
    height: 50vh !important;
    top: 0;
}

.offcanvas-body {
    margin: 0;
    padding: 0;
    height: 50vh;
    display: flex;
    flex-direction: column;
}

.off-canvas-div-1 {
    background-color: black;
    color: white;
    border: 1px solid white;
    padding: 5px 30px;
}

.off-canvas-div-1 p {
    margin: 0;
}

.off-canvas-div-2 {
    border: 1px solid white;
}

.off-canvas-div-2 ul {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: black;
    padding: 5px 30px;
    margin: 0;
}

.off-canvas-div-2 ul li {
    list-style: none;
    color: white;
}

.off-canvas-div-2 ul li p {
    margin: 0;
    padding: 0;
}

.off-canvas-div-3 {
    background-color: #717fe0;
    border: 1px solid white;
}

.off-canvas-div-3 ul li {
    list-style: none;
}

.off-canvas-div-3 ul li a {
    text-decoration: none;
    color: white;
}

/* ===== HERO SECTION ===== */
.hero-slider {
    position: relative;
    height: 100vh;
    overflow: hidden;
}

/* Each slide */
.slide {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    padding-left: 80px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 0;
}

/* Active slide */
.slide.active {
    opacity: 1;
    z-index: 1;
}

/* Text same as before */
.hero-content h4 {
    font-size: 30px;
    margin-bottom: 10px;
    font-family: 'poppins-regular', sans-serif;
}

.hero-content h1 {
    font-size: 60px;
    margin-bottom: 15px;
    font-family: 'playfiar Display-bold', serif;
}

.hero-btn {
    padding: 12px 30px;
    background: #717fe0;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    font-size: 20px;
}

.hero-btn:hover {
    background: black;
}

/* ===== CATEGORIES SECTION ===== */
.categories {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-between;
    align-items: center;
}

/* Card */
.category-card {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

/* Image */
.category-card img {
    width: 100%;
    display: block;
    object-fit: cover;
    border: 1px solid #eee;
}

/* Text overlay */
.category-text {
    position: absolute;
    top: 30px;
    left: 30px;
    color: black;
    z-index: 2;
}

.category-text h2 {
    font-size: 28px;
    font-weight: 600;
}

.category-text p {
    font-size: 14px;
    margin-top: 5px;
}

/* Overlay layer */
.category-overlay {
    position: absolute;
    inset: 0;
    background-color: rgba(113, 127, 224, 0.7);
    /* purple */
    opacity: 0;
    transition: opacity 0.4s ease;
}

/* shop now text */
.shop-now {
    position: absolute;
    bottom: 30px;
    /* 👈 yahin niche le gaye */
    left: 50%;
    color: #fff;
    text-decoration-thickness: 2px;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    opacity: 0;
    transform: translateX(-50%) translateY(15px);
    transition: opacity 0.4s ease, transform 0.4s ease;
}

.category-card:hover .category-overlay {
    opacity: 1;
}

.category-card:hover .category-text {
    color: white;
}

.category-card:hover .shop-now {
    opacity: 1;
    transform: translateX(-50%) translateY(0);
}

/* ===== PRODUCT SECTION ===== */
.product-overview {
    font: 36px "poppins", sans-serif;
    font-weight: bold;
    padding-bottom: 10px;
}

.product-header-section {
    padding-bottom: 0;
}

/* Flex */
.product-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ================= PRODUCT FILTER ================= */

.filter-btn {
    padding: 0px 16px;
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 15px;
    color: #555;
}

.filter-btn.active {
    color: #000;
    border-bottom: 1px solid #000;
}

.filter-btn:hover {
    color: #000;
    border-bottom: 1px solid #000;
}

.card {
    display: block;
    border: none;
}

.product-link {
    margin: 0;
}

/* Button */
.product-icon button {
    color: #888888;
    border: 1px solid #eee;
    font-size: 16px;
    padding: 10px 28px;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.product-icon button:hover {
    background-color: #717fe0;
    color: white;
}

.product-icon button:hover i {
    color: white;
}

/* Icon default */
.product-icon i {
    color: black;
    transition: color 0.3s ease;
}

/* ===== PRODUCT CARDS SECTION ===== */

.product-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-bottom: 80px;
}

.card {
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    /* small hover lift */
}

.card-img {
    position: relative;
    overflow: hidden;
}

.card-img img {
    width: 100%;
    height: 38vh;
    display: block;
    transition: transform 0.5s ease;
}

.card-img:hover img {
    transform: scale(1.1);
}

.view-details-btn {
    position: absolute;
    bottom: -50px;
    /* initially hidden below */
    left: 50%;
    transform: translateX(-50%);
    background: white;
    color: black;
    padding: 10px 30px;
    border-radius: 25px;
    font-size: 14px;
    cursor: pointer;
    text-align: center;
    transition: all 0.4s ease;
    white-space: nowrap;
}

.view-details-btn:hover {
    background: black;
    color: white;
}

.card-img:hover .view-details-btn {
    bottom: 20px;
    /* slides up on hover */
}

.card-description {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
}

.card-description h4 {
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin: 0;
    font-size: 14px;
    font-weight: normal;
    color: #999;
    max-width: 80%;
    /* ensures heart icon stays visible */
    line-height: 1.2em;
}


.card-description div p {
    font-size: 14px;
    font-weight: bold;
    color: #666666;
}

.heart-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #888;
    transition: color 0.3s;
}

.heart-btn.active i {
    color: #717fe0;
}


/* ===== LAST SECTION ===== */
.last-section {
    padding-top: 0;
    margin-bottom: 80px;
}

.load-more {
    text-align: center;
    /* Center the button */
}

.btn-load-more {
    display: inline-block;
    padding: 14px 42px;
    border: 1px solid #e6e6e6;
    border-radius: 50px;
    background: #e6e6e6;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;
}

.btn-load-more:hover {
    background: #111;
    color: #fff;
    border-color: #111;
    transform: scale(1.05);
}

/* ===== FOOTER TOP ===== */
.footer {
    padding: 75px 0 32px;
    background-color: #222222;
}

.footer-container {
    display: flex;
    justify-content: space-evenly;
}

.footer-container h4 {
    color: #FFFFFF;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    padding: 0 0 30px;
}

.footer-container ul li {
    padding-bottom: 10px;
    list-style: none;
}

.footer-container ul li a {
    color: #B2B2B2;
    text-decoration: none;
}

.footer-container p {
    font-size: 13px;
    font-family: "poppins-regular" sans-serif;
    color: #B2B2B2;
    width: 150px;
}

.social-icons {
    padding-top: 27px;
}

.social-icons a {
    margin-right: 16px;
    color: #B2B2B2;
}

.form-input {
    padding-bottom: 5px;
    border-bottom: 2px solid whitesmoke;
}

/* Email */
.form-input input {
    background: none;
    color: whitesmoke;
    border: none;
}

/* subscribe button */
.form-btn {
    padding-top: 18px;
}

.form-btn Button {
    color: #FFFFFF;
    font-size: 15px;
    font-family: "poppins-medium" sans-serif;
    background-color: #717fe0;
    border: none;
    padding: 0 15px;
    width: 150px;
    height: 40px;
    border-radius: 50px;
}

/* ===== FOOTER BOTTOM===== */
.footer-bottom {
    padding-top: 40px;
    text-align: center;
}

.debit-credit-card {
    padding-bottom: 20px;
}

.footer-bottom p {
    color: #888888;
    font-size: 16px;
    font-family: "poppins-Regular" sans-serif;
}

.footer-bottom p span {
    color: #007bff;
}

/* =====LAPTOP MAX WIDTH 1060px ===== */
@media (max-width: 1060px) {

    /* Global spacing */
    section {
        padding: 50px 40px;
    }

    .header-container {
        padding: 10px 0 10px;
    }
}

/* ===== TABLET MAX WIDTH 991px ===== */
@media (max-width: 991px) {

    /* Global spacing */
    section {
        padding: 50px 40px;
    }

    /* small header hide */
    .small-header-container {
        display: none;
    }

    /* Header */
    .header {
        position: relative;
        top: 0;
        background: white;
        padding: 0 0 5px;
    }

    .header-container {
        margin: 0;
        padding: 14px 16px 14px 26px;
    }

    /* humberger */
    .humberger-img {
        width: 26px;
        height: 26px;
    }

    .humberger {
        display: block;
    }

    .humberger button {
        background: none;
        border: none;
    }

    /* navbar hide */
    .navbar ul {
        display: none;
    }

    /* text on slider */
    .hero-content {
        position: absolute;
        top: 170px;
        left: 30px;
    }

    /* Categories */
    .categories {
        grid-template-columns: repeat(2, 1fr);
        gap: 30px;
    }

    /* Product filter row */
    .product-flex {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
    }

    .product-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Footer */
    .footer-container {
        flex-wrap: wrap;
        gap: 40px;
    }
}

/* ===== TABLET MAX WIDTH 768px ===== */
@media (max-width: 768px) {

    /* Hero */
    .hero-slider {
        height: 80vh;
    }

    .hero-content h1 {
        font-size: 50px;
    }

    .hero-content h4 {
        font-size: 20px;
    }

    .hero-btn {
        font-size: 15px;
    }

    .hero-content {
        position: absolute;
        top: 150px;
        left: 30px;
    }

    .product-cards {
        grid-template-columns: repeat(3, 1fr);
    }

    /* Categories */
    .categories {
        grid-template-columns: repeat(2, 1fr);
    }

    /* Footer */
    .footer-container {
        text-align: center;
    }

    .footer-container p {
        width: 100%;
    }
}

/* ===== LARGE MOBILE MAX WIDTH 576px ===== */
@media (max-width: 576px) {

    /* Section padding */
    section {
        padding: 40px;
    }

    .hero-content h1 {
        font-size: 40px;
    }

    .hero-content h4 {
        font-size: 20px;
    }

    .hero-btn {
        font-size: 10px;
    }

    .hero-content {
        position: absolute;
        top: 170px;
        left: 30px;
    }

    .product-cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-img img {
        height: 35vh;
    }

    /* Categories */
    .categories {
        grid-template-columns: repeat(1, 1fr);
    }

    /* Footer bottom text */
    .footer-bottom p {
        font-size: 14px;
    }
}

/* ===== MEDIUM MOBILE MAX WIDTH 425px ===== */
@media (max-width: 425px) {
    .product-cards {
        grid-template-columns: repeat(1, 1fr);
    }

    .card-img img {
        height: 50vh;
    }
}

/* ===== SMALL MOBILE MAX WIDTH 376px ===== */
@media (max-width: 376px) {
    .nav-icons-humberger i {
        font-size: 20px;
        margin-left: 7.5px;
    }

    .logo a {
        font-size: 27px;
    }

    .card-img img {
        height: 35vh;
    }
}